body {
  font-family: Arial, sans-serif;
  background: #1f1f1f;
  color: white;
  margin: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.tools {
  margin-top: 60px;
  font-size: 18px;
  line-height: 34px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}